$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body, html {
  height: 100%; //// <---shows full image
  overflow: hidden; //// <---means no scroll bars bitch
}

body {
  background-color: green;
  background-position: center;
  background-image: url('/images/background.jpg');         // a nice meadow
  background-size: cover;
  cursor: url('/images/crosshair.png') 32 32, crosshair;   // our rifle crosshairs
                                  //the 32 32 are the width and the height
  // add some grass at the bottom that the ducks can hide in
  &:after {  //the ampersand(&) applies to DA element above aka BoDy
    display: block;
    content: '';
    background-image: url('/images/grass.png');
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 197px;
  }
}

@mixin info{
  position: absolute;
  top: 10px;
  font-size: 2em;
  font-family: Tahoma, Geneva, sans-serif;
}
.title {
  @include info;
  left: 30px;
}
// Display the score in the upper right hand corner
.score {
  @include info;
  right: 30px;
}
